
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'), 
    url(Roboto-Thin.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
    url(Roboto-Light.woff) format('woff');
    font-display: swap;
    
}

@font-face {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url(Roboto-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'),
        url(Roboto-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

