body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    
    font-weight: 700;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#description p {
    color: red;
}

#description span {
    color: green;
}

#description span:first-child {
    font-weight: 100;
}

.example-1 {
    color: aquamarine;
}

.example-1 {
    color: blueviolet;
}

.example-2 .spec {
    color: chartreuse;
}
.example-2 p {
    color: crimson;
}

.example-3 {
    color: darkblue;
}
.example-3 span b {
    color: initial;
}
